

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "AvertaCY";
}

.header {
    /* height: 104px; */
    width: 100%;
    padding: 40px 32px;
    display: flex;
    align-items: center; 
    background-color: white;
    justify-content: space-between;
}

.mnu_top {
    list-style-type: none;
    padding-left: 400px;
}

.mnu_top li {
    display: inline-block;
    margin: 20px;
}

.mnu_top li a{
    display: block;
    text-decoration: none;
    font-weight: 300;
    font-size: 14px;
    color: #22262A;
}

img {
    max-width: 100%;
}

.btn_header {
    display: inline-block;
}

.btn_header{
    appearance: none;
    background-color: rgba(241, 71, 126, 1);
    color: white;
    padding: 16px 24px;
    font-size: 14px;
    font-weight: 300;
    border-radius: 32px;
    text-decoration: none;
    border: none;
}

.main {
    margin-left: 200px;
    margin-top: 124px;
    font-size: 56px;
    color: rgba(34, 38, 42, 1);
    font-weight: 600;
    position: absolute;
    justify-content: space-between;
    margin-right: 164px;
}

.pagewrapper {
    min-height: 100vh;
}

.caption {
    position: relative;
    margin-left: 561px;
    color: rgba(34, 38, 42, 1);
    margin-top: 372px;
}

.text {
    padding-left: 200px;
    padding-top: 88px;
}
.text h1 {
    font-size: 56px;
}

.text p {
    padding-top: 24px;
    padding-left: 364px;
}

.arrow_down{
    padding-left:364px; 
    padding-top: 64px;
}

.anime_img {
    position:absolute;
    bottom: 0px;
    right: 0;
    z-index: 1;
    width: 600px;
}

.photo {
    position: relative;
    z-index: 10;
}

.text2{
    padding: 132px 200px;
}

/* .textstar {
   
} */

.text2 p {
    display: inline;
    font-size: 14px;
}

.star {
    vertical-align: middle;
    display: inline;
    padding-left: 224px;
}

.promo {
    font-size: 28px;
    font-weight: 600;
}

.promo1 {
    padding-top: 72px;
    padding-left: 360px;
}

.promo2 {
    padding-top: 48px;
    padding-left: 460px;
}

.pink {
    color: #F1477E;
}

.promo3 {
    padding-top: 180px;
    font-size: 56px;
    line-height: 56px;
}

